.products {
  padding: 0% 5% 25%;
  font: -webkit-control;
  display: grid;
  grid-template-rows: 100% 0%;
}

.grid-ctr {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 2% 1%;
  //   height: 50%;
}
@media only screen and (max-width: 600px) {
  .grid-ctr {
    grid-template-columns: auto auto;
  }
}

.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  /* width: 100%; */
  /* min-height: 40%; */
  // height: -moz-fit-content;
  // height: fit-content;
  border-radius: 10px;
  border-style: solid;
  border-color: #b6b3b3;
  height: 500px;

  //Grid
  display: grid;
  grid-template-rows: 30% 70%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  // border-radius: 5px 5px 0 0;
  // width: 100%;
  float: left;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// img + .container {
//   display: block;
//   margin-top: 50%;
// }

.container {
  position: relative;
  padding: 2% 4%;
  // height: 70%;
}
.container > * {
  // display: block;
  // margin-top: 30%;
  display: inline;
  justify-content: space-between;
}

.container .info {
  // display: inline;
  // justify-content: space-between;
  // width: 60%;
  // // height: 20%;
  // max-height: 20%;
  overflow: hidden;
  max-height: 100px;
}

.product-title {
  max-height: 6%;
  overflow: hidden;
}

.container .info .description-paragraph {
  max-height: 10%;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 50px;
  // max-height: 10%;
  // // height: auto;
}

.card .container .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 60%;
  max-height: 10%;
  // //   padding: 0% 1%;
  // //   margin: 0 12px;
}

.card .container .details {
  // display: inline;
  // justify-content: space-between;
  // width: 60%;
  max-height: 20%;
}
.card .container .rating {
  justify-content: flex-end;
  /* max-height: 10%; */
  /* float: right; */
  /* column-gap: 5px; */
  width: 100%;
  align-items: center;
  display: flex;
  max-height: 10px;
}

.card .container .add-to-cart button {
  background-color: #00baba;
  border: 0;
  padding: 5% 1%;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
  transition-duration: 0.25s;
  max-height: 13%;
  position: absolute;
  left: 8%;
  bottom: 5%;
}
.card .container .add-to-cart button:hover {
  background-color: #aeb1b4;
}
.card .container .rating span b {
  color: rgb(238, 173, 32);
}

.card .dicount {
  padding: 5% 7%;
  position: relative;
}

.card .dicount span {
  background-color: #00baba;
  border-radius: 5px;
  padding: 2% 4%;
  color: #000000;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 9px;
  /* size: 10px; */
  height: 10px;
  width: 45px;
  display: flex;
  align-items: center;
}

.splitter {
  height: 100px;
  width: 100px;
  margin-top: 100px;
  flex: 1;
}
