.spacer {
  flex: 1;
}

.toolbar {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  color: rgb(82, 78, 78);
  font-weight: 600;

  border-bottom: 2px solid;
  border-bottom-color: #808080;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.toolbar .logo {
  margin: 0 12px;
  display: flex;
  //   align-items: center;
}

.toolbar .rightNav {
  margin: 0 12px;
  display: flex;
  align-items: center;
  // column-gap: 10px;
  justify-content: space-between;
}
input[type="search"] {
  border-radius: 13px;
  padding: 15px;
  width: 109px;
  height: 10px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.toolbar input:focus {
  background-color: white;
  width: 150px;
  color: #808080;
}

// .toolbar img {
//   margin: 0 16px;
// }

.toolbar #shopping-cart {
  height: 40px;
  margin: 0 16px;
}

.toolbar #shopping-cart:hover {
  opacity: 0.8;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

a,
a:visited,
a:hover {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #125699;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #00baba;
}
#lblCartCount {
  font-size: 12px;
  background: #00baba;
  color: #000000;
  padding: 2px 4px;
  vertical-align: top;
  margin-left: -32px;
}
