.pagination {
  display: flex;

  justify-content: center;
  padding: 5% 0 0;

  position: absolute;
  bottom: 150px;
  left: 50%;

  // right: 50%;
}

@media only screen and (max-width: 600px) {
  .pagination {
    bottom: 10px;
    left: 30%;
  }
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #00baba;
  color: #000000;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
