

<div class="grid-container" >
    <div class= "grid-header">
        <h1>iPhone</h1>
        <div class = "route">
          <p>Home / Products </p> 
          <p *ngIf = "productFilter"> / {{productFilter.replace('-', ' ')  | titlecase}} </p> 
          <p *ngIf = "searchText">/ <b>{{searchText}}</b>  </p> 
        </div>
        
    </div>
      <div >
        <app-products-filter></app-products-filter>
      </div>
      <div >
        <app-products></app-products>
      </div>

 
  </div>
  