.card {
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  //   transition: 0.3s;
  min-width: 203px;
  // min-height: 40%;
  height: -moz-fit-content;
  // height: fit-content;
  border-radius: 10px;
  border-style: solid;
  padding: 10% 0;
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 90px;
    font-size: 8px;
  }
}
@media only screen and (max-width: 600px) {
  .li input {
    height: 9px;
    width: 9px;
  }
}
.card:hover {
  //   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  padding: 2px 16px;
}

.container {
  padding: 2px 0px;
  //   align-items: center;
}

//radio Button Style
